<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Tra cứu luật</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="../images/favicon.ico" type="../image/x-icon" />
    <link rel="apple-touch-icon" href="../images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="../style.css">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="../css/versions.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/custom.css">

    <!-- Modernizer for Portfolio -->
    <script src="../js/modernizer.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="host_version">

    <!-- Start header -->
    <header class="top-navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <a class="navbar-brand" href="../Views/index.html">
                            <img src="../images/quochuy.png" alt="" width="100" height="100" />
                        </a>
                    </div>
                    <div>
                        <br />
                        <h1 style="color:#FFD700">HỆ THỐNG QUẢN LÝ GIAO THÔNG</h1>
                        <p style="color:#FFD700; font-size:13.5px">Kết nối, cung cấp thông tin và dịch vụ mọi lúc, mọi nơi</p>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="display:flex; justify-content:center">
            <div>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" href="../Views/index.html">Trang chủ </a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Tra cứu vi phạm </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-a">
                            <a class="dropdown-item" href="../Views/tcbienban.html">Tra cứu Biên bản </a>
                            <a class="dropdown-item" href="../Views/tcqdxp.html">Tra cứu Quyết định xử phạt </a>
                            <a class="dropdown-item" href="../Views/tcluat.html">Tra cứu Luật </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Thông tin xe </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-a">
                            <a class="dropdown-item" href="../Views/dangkyxe.html">Đăng ký xe </a>
                            <a class="dropdown-item" href="../Views/xemxe.html">Xem thông tin xe </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Thi bằng lái </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-a">
                            <a class="dropdown-item" href="../Views/dangkygplx.html">Đăng ký thi giấy phép lái xe </a>
                            <a class="dropdown-item" href="../Views/xemlichthi.html">Xem lịch thi và lịch học sát hạch </a>
                            <a class="dropdown-item" href="../Views/xemkqsathach.html">Xem kết quả sát hạch </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Giấy phép lái xe </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-a">
                            <a class="dropdown-item" href="../Views/doicaplaigplx.html">Đổi / Cấp lại giấy phép lái xe </a>
                            <a class="dropdown-item" href="../Views/xemgplx.html">Xem thông tin giấy phép lái xe </a>
                            <a class="dropdown-item" href="../Views/xemdiemgplx.html">Xem điểm giấy phép lái xe </a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="../Views/thongtincanhan.html">Thông tin cá nhân </a></li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- End header -->


    <div class="all-title-box">
        <div class="container text-center">
            <h1 style="color: #1f1f1f">DANH SÁCH LUẬT GIAO THÔNG</h1>
        </div>
    </div>

    <hr class="invis">

    <div class="container">
        <div class="widget-search">
            <div class="site-search-area">
                <form method="get" id="site-searchform" action="/search">
                    <div>
                        <input class="input-text form-control" name="query" id="search-k" placeholder="Nhập nội dung tìm kiếm" type="text">
                        <input id="searchsubmit" value="Search" type="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <hr class="invis">
    <hr class="invis">
    <hr class="invis">
    <hr class="invis">




    <!-- Start footer-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Hệ thống quản lý giao thông</h3>
                        </div>
                        <p>Hiểu được sự bất tiện của các quy trình đăng ký xe, nộp phạt giao thông,... Hệ thống được tạo ra nhằm giảm bớt các quy trình thủ công phức tạp, tốn thời gian đồng thời nâng tầm quản lý cá nhân hóa phương tiện tham gia giao thông. </p>
                        <div class="footer-right">
                            <ul class="footer-links-soi">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-github"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul><!-- end links -->
                        </div>
                    </div><!-- end clearfix -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Link</h3>
                        </div>
                        <ul class="footer-links">
                            <li><a href="#">Thông tin cá nhân</a></li>
                            <li><a href="#">Tra cứu vi phạm</a></li>
                            <li><a href="#">Thông tin xe</a></li>
                            <li><a href="#">Thi bằng lái</a></li>
                            <li><a href="#">Giấy phép lái xe</a></li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Chi tiết liên hệ</h3>
                        </div>

                        <ul class="footer-links">
                            <li><a href="mailto:#">Email: nhom10points@student.hcmus.edu.vn</a></li>
                            <li><a href="#">Website: www.nhom10points.com</a></li>
                            <li>Địa chỉ: 227 Nguyễn Văn Cừ, Phường 4, Quận 5, Thành phố Hồ Chí Minh</li>
                            <li>Tổng đài hỗ trợ: 2467 0278 3044</li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-center">
                    <p class="footer-company-name">&copy; 2021 <a href="#">Hệ thống quản lý giao thông |</a> Thiết kế bởi : <a href="https://html.design/">Nhóm 10 points</a></p>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
    <!-- ALL JS FILES -->
    <script src="../js/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="../js/custom.js"></script>

</body>
</html>